files:  
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json": 
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "metrics": {
          "append_dimensions": {
            "AutoScalingGroupName": "${aws:AutoScalingGroupName}"
          },
          "metrics_collected": {
            "mem": {
              "measurement": [
                "mem_used_percent",
                "mem_available_percent",
                "mem_used",
                "mem_available"
              ]
            },
            "disk":{
                "measurement": [
                    "disk_free",
                    "disk_inodes_free",
                    "disk_inodes_total",
                    "disk_inodes_used",
                    "disk_total",
                    "disk_used",
                    "disk_used_percent",
                    "diskio_iops_in_progress",
                    "diskio_io_time",
                    "diskio_reads",
                    "diskio_read_bytes",
                    "diskio_read_time",
                    "diskio_writes",
                    "diskio_write_bytes",
                    "diskio_write_time"
                ]
            }
          }
        }
      }  
container_commands:
  start_cloudwatch_agent: 
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json